<div class="row semDatePicker">
  <div class="col-md-12">
    <div class="pull-left semDatePickerIcon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="pull-left semDatePickerBody">
      <div class="row">
        <div class="col-lg-12">
          <md-datepicker ng-model="date" md-placeholder="{{'ENTER_DATE' | translate}}" md-open-on-focus></md-datepicker>
        </div>
      </div>
    </div>
  </div>
</div>