.semDatePicker {
  height: 90px;
}

.semDatePickerIcon {
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.semDatePickerIcon span {
  font-size: 25px;
}

.semDatePickerBody {
  margin-top: 25px;
  width: 80%;
}

.semDatePickerBody md-datepicker {
  margin-left: -65px;
}

.semDatePicker .md-datepicker-input-container {
  width: 100%;
}

.semDatePicker .md-datepicker-input-container input {
  // border-bottom: 1px solid @base-bg-6 !important;
}

.semDatePicker .md-datepicker-input-container input:focus {
  border-bottom: 1px solid @brand-primary !important;
}

.semDatePicker md-icon {
  display: none !important;
}