<div class="container-fluid">
  <div class="row dialog-header">{{'USER_EDITING' | translate}}</div>

  <div class="row dialog-body">
    <div class="col-sm-offset-1 col-sm-10">

      <form class="form-horizontal">
        <div class="form-group margin-top">
          <span class="col-sm-4 control-label">{{'LOGIN' | translate}}</span>
          <div class="col-sm-8">
            <input placeholder="{{'LOGIN' | translate}}" ng-model="ngDialogData.user.userName">
          </div>
        </div>
        <div class="form-group">
          <span class="col-sm-4 control-label">{{'ROLES' | translate}}</span>
          <div class="col-sm-8">
            <select ng-model="ngDialogData.user.roleName">
              <option value="{{$root.roleName.USER}}">{{$root.roleName.USER | translate}}</option>
              <option value="{{$root.roleName.ADMIN}}">{{$root.roleName.ADMIN | translate}}</option>
            </select>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="row dialog-footer">
    <button class="btn-success" ng-click="closeThisDialog('confirm')">{{'SAVE' | translate}}</button>
    <button class="btn-danger" ng-click="closeThisDialog()">{{'CANCEL' | translate}}</button>
  </div>
</div>