/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */

@icon-font-path: '../../bootstrap/fonts/';
@fa-font-path: "../../bower_components/font-awesome/fonts";

@import "../../bower_components/font-awesome/less/font-awesome.less";
@import '../assets/less/base-variables';
@import '../assets/less/base-style';
@import '../assets/less/base-table';
@import '../assets/less/base-dialog';
@import '../assets/less/base-loader';
@import '../assets/less/base-map';
@import '../assets/less/base-input';
@import '../assets/less/base-button';

html, body {
  height: 100%;
  font-size: @base-font-size;
  font-family: 'Roboto-Light';
}

.fill {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;

  width: 100%;

  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
