
// BEGIN colors 

.base-color-primary   { color: @brand-primary;  }
.base-color-success   { color: @brand-success;  }
.base-color-info      { color: @brand-info;     }
.base-color-warning   { color: @brand-warning;  }
.base-color-danger    { color: @brand-danger;   }
.base-color-default   { color: @brand-default;  }

// END colors
// BEGIN select

select {
  -webkit-appearance: none;
  border: none;
  background: none;
  border-bottom: 1px solid  @brand-default;
  font-size: @base-font-size-large;
  width: 100%;
  padding-bottom: 2px;
}

option {
  padding: 10px;
}

select:focus {
  outline: none;
  border-bottom: 2px solid @brand-primary;
}

// END select
// BEGIN elements

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-color: @base-hr-color;
}

// END elements
// BEGIN style

.margin   { margin: 15px;   }
.padding  { padding: 15px;  }

.margin-top     { margin-top: 15px;     }
.margin-left    { margin-left: 15px;    }
.margin-right   { margin-right: 15px;   }
.margin-bottom  { margin-bottom: 15px;  }

.padding-top     { padding-top: 15px;     }
.padding-left    { padding-left: 15px;    }
.padding-right   { padding-right: 15px;   }
.padding-bottom  { padding-bottom: 15px;  }

.margin-negative   { margin: -15px;   }

.margin-top-negative     { margin-top: -15px;     }
.margin-left-negative    { margin-left: -15px;    }
.margin-right-negative   { margin-right: -15px;   }
.margin-bottom-negative  { margin-bottom: -15px;  }

// END style
// BEGIN card

.card {
  background: @base-bg-invert-2;
  box-shadow: @base-box-shadow;
}

.card-base {
  background: @base-bg-5;
  box-shadow: @base-box-shadow;
  color: @base-font-color-invert;
}

.card-primary {
  background: @brand-primary;
  box-shadow: @base-box-shadow;
  color: @base-font-color-invert;
}

.card-body {
  margin-top: 15px;
  height: 85vh;
}

.card-footer {

}

// END card
// BEGIN font

.font-bold {
  font-weight: bold;
}

// END font