.ng-table th {
  background: @base-bg-3;
  color: @base-font-color-invert;
  font-size: @base-font-size;
  font-weight: bold;
}

.ng-table th.sortable.sort-desc, 
.ng-table th.sortable.sort-asc {
  background-color: @brand-primary;
  text-shadow: none;
}

.ng-table td {
  font-size: @base-font-size-large;
}

.ng-table-counts button {
  border-radius: 0 !important;
}

.table-selected,
.table-selected:focus {
  outline: none;
  border: 1px solid @brand-primary !important;
}

.table-selected td,
.table-selected td:focus {
  border-top: 1px solid @brand-primary !important;
  border-bottom: 1px solid @brand-primary !important;
}


.ng-table tr:focus {
  outline: none;
}

// BEGIN DEVICES TABLE

.semDevicesTable tr, .semDevicesTable td {
  padding: 8px !important;  
}

.semDevicesTable tr th:nth-child(1), .semDevicesTable tr td:nth-child(1) {
  width: 45%;
  text-align: left;
  padding-right: 15px;
}

.semDevicesTable tr th:nth-child(2), .semDevicesTable tr td:nth-child(2) {
  width: 25%;
  text-align: center;
}

.semDevicesTable tr th:nth-child(3), .semDevicesTable tr td:nth-child(3) {
  width: 25%;
  text-align: center;
}

.semDevicesTable tr th:nth-child(4), .semDevicesTable tr td:nth-child(4) {
  width: 5%;
  text-align: center;
}

.semDevicesTable tr td:nth-child(4) i {
  font-size: @base-font-size-h3 !important;
}

// END DEVICES TABLE
// BEGIN LOCATIONS TABLE

.semLocationsRoadTable tr, 
.semLocationsRoadTable td {
  font-size: @base-font-size;
  cursor: pointer;
}

.semLocationsRoadTable tr th:nth-child(1), .semLocationsRoadTable tr td:nth-child(1) {
  width: 100%;
}

// END LOCATIONS TABLE
// BEGIN USERS TABLE

.semUsersTable tr th:nth-child(1), .semUsersTable tr td:nth-child(1) {
  width: 60%;
  text-align: left;
  padding-left: 15px;
}

.semUsersTable tr th:nth-child(2), .semUsersTable tr td:nth-child(2) {
  width: 20%;
  text-align: center;
}

.semUsersTable tr th:nth-child(3), .semUsersTable tr td:nth-child(3) {
  width: 20%;
  text-align: center;
}

// END USERS TABLE
// BEGIN USER DEVICE TABLE

.semUserDevicesTable tr, .semUserDevicesTable td {
  padding: 8px !important;  
}

.semUserDevicesTable tr th:nth-child(1), .semUserDevicesTable tr td:nth-child(1) {
  width: 40%;
  text-align: left;
  padding-right: 15px;
}

.semUserDevicesTable tr th:nth-child(2), .semUserDevicesTable tr td:nth-child(2) {
  width: 30%;
  text-align: center;
}

.semUserDevicesTable tr th:nth-child(3), .semUserDevicesTable tr td:nth-child(3) {
  width: 30%;
  text-align: center;
}

// END USER DEVICE TABLE
// BEGIN TRACKING TABLE

.semTrackingTable tr, .semTrackingTable td {
  padding: 2px !important;  
  font-size: @base-font-size;
}

.semTrackingTable tr th:nth-child(1), .semTrackingTable tr td:nth-child(1) {
  width: 50%;
  text-align: left;
}

.semTrackingTable tr th:nth-child(2), .semTrackingTable tr td:nth-child(2) {
  width: 15%;
  text-align: center;
}

.semTrackingTable tr th:nth-child(3), .semTrackingTable tr td:nth-child(3) {
  width: 35%;
  text-align: right;
}

// END TRACKING TABLE