input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid @brand-default;
  width: 100%;
}

textarea:focus, 
input:focus {
  outline: none;
  border-bottom: 2px solid @brand-primary;
}
