.contentVisible {
  visibility: visible;
  opacity: 0.9;
}

.contentHidden {
  visibility: hidden;
  opacity: 0;
}

.content {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: @base-bg-1;
  transition: visibility 0.5s, opacity 0.5s linear; 
}

.spinner {
  background-color: darken(#fff, 15%);
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  margin: auto;
  width: 90px;
  height: 90px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}