// BASE BRAND

@brand-primary:     darken(#428bca, 6.5%); // #337ab7
@brand-success:   #5cb85c;
@brand-info:      #5bc0de;
@brand-warning:   #f0ad4e;
@brand-danger:    #d9534f;
@brand-default:     darken(#fff, 20%);

@brand-primary-dark:      darken(#428bca, 14.5%); // #337ab7
@brand-success-dark:      darken(#5cb85c, 8%);
@brand-info-darker:       darken(#5bc0de, 8%);
@brand-warning-dark:      darken(#f0ad4e, 8%);
@brand-danger-dark:       darken(#d9534f, 8%);
@brand-default-dark:      darken(#fff, 28%);

// END BASE BRAND 

// BASE COLORS 

@base-font-color:       #000;
@base-font-color-invert:  darken(#fff, 8%);

// @base-bg: #172B46;
@base-bg:   #111;
// @base-bg: #011D28;
@base-bg-1:   @base-bg;
@base-bg-2:   lighten(@base-bg, 10%);
@base-bg-3:   lighten(@base-bg, 18%);
@base-bg-4:   lighten(@base-bg, 26%);
@base-bg-5:   lighten(@base-bg, 34%);
@base-bg-6:   lighten(@base-bg, 42%);

@base-bg-invert-1:  #EDEDED;
@base-bg-invert-2:  #F7F7F7;

@base-font-size:        14px;
@base-font-size-small:  ceil((@font-size-base * 0.85));   // ~12px
@base-font-size-large:  ceil((@font-size-base * 1.25));   // ~18px

@base-hr-color: lighten(#000 , 75%);

// END BASE COLORS

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@base-font-size-h1:            floor((@base-font-size * 2.6));   // ~36px
@base-font-size-h2:            floor((@base-font-size * 2.15));  // ~30px
@base-font-size-h3:            ceil((@base-font-size * 1.7));    // ~24px
@base-font-size-h4:            ceil((@base-font-size * 1.25));   // ~18px
@base-font-size-h5:            @base-font-size;
@base-font-size-h6:            ceil((@base-font-size * 0.85));   // ~12px

// BEGIN OFFLINE 

@offline-bg-first:    @base-bg-1;
@offline-bg-second:   @base-bg-3;
@offline-font-size:   ceil((@base-font-size * 1.5));

// END OFFLINE

// BEGIN SHADOW
@base-text-shadow: 2px 2px rgba(0,0,0,.6);
@base-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
// END SHADOW

// MD CARD
@card-header-color: lighten(#000, 45%);
@card-header-text-color: #ffffff;
@card-content-color: lighten(#000, 95%);
@card-content-text-color: #000000;
@card-actions-color: lighten(#000, 90%);
// END MD CARD