.ngdialog-content {
  border-radius: 0 !important;
  width: 40vw !important;
}

.dialog-header {
  background: @base-bg-3;
  color: @base-font-color-invert;
  font-size: @base-font-size-large;
  margin-top: -16px;
  margin-left: -31px;
  margin-right: -31px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dialog-body {
  font-size: @base-font-size-large;
  padding: 15px;
  margin-left: -30px;
  margin-right: -30px;
  background: @base-bg-invert-2;
}

.dialog-body span {
  padding-top: 2px !important;
  font-weight: bold;
}

.dialog-body select {
  padding-bottom: 0 !important;
}

.dialog-footer {
  text-align: right;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -15px;
  padding: 8px;
  background: @base-bg-invert-1;
}

.dialog-footer button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}