.semSignupBody {
  width: 400px;
  margin-left: -4%;
}

.semSignupHeader {
  font-size: 45px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: @base-bg-2;
  box-shadow: @base-box-shadow;
  text-shadow: @base-text-shadow;
}

.semSignupBody .form-group {
  height: 45px;
}

.semSignupBody .semSignupBackButton {
  margin-top: -10px;
}

@media screen and (max-width: 450px) {
  .semSignupBody {
    width: 280px;
    margin-left: -4%;
  }

  .semSignupHeader {
    font-size: 35px;
  }
}