<div class="vertical-center semSignup">
  <div class="text-center semSignupBody">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-10  col-sm-offset-2 col-sm-10 semSignupHeader">
        <span>{{'REGISTRATION' | translate}}</span>
      </div>
    </div>
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-2 col-sm-2">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10 col-sm-10">
            <input ng-model="signupCtrl.userData.userName" type="text" placeholder="{{'LOGIN' | translate | uppercase}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2 col-sm-2">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10 col-sm-10">
            <input ng-model="signupCtrl.userData.password" type="password" placeholder="{{'PASSWORD' | translate | uppercase}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2 col-sm-2">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10 col-sm-10">
            <input ng-model="signupCtrl.userData.confirmPassword" type="password" placeholder="{{'CONFIRM_PASSWORD' | translate | uppercase}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn-danger text-uppercase" ng-click="signupCtrl.signupClick()">{{'SIGNUP' | translate}}</button>
          </div>
        </div>
        <div class="form-group semSignupBackButton">
          <div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10">
            <a ui-sref="signin">
              <button type="submit" class="btn-primary text-uppercase">{{'BACK' | translate}}</button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>