<div class="container-fluid semUsers">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 card margin-top padding-top padding-bottom">
          <p><strong>{{'USERS' | translate}}</strong></p>
          <hr>

          <script type="text/ng-template" id="user_login_header.html">
            <span>{{'LOGIN' | translate}}</span>
          </script>

          <script type="text/ng-template" id="user_roles_header.html">
            <span>{{'ROLES' | translate}}</span>
          </script>

          <script type="text/ng-template" id="user_devices_number_header.html">
            <span>{{'DEVICES_NUMBER' | translate}}</span>
          </script>

          <div class="row semUsersTableButtons">
            <div class="col-sm-12">
              <button class="btn-primary" ng-click="usrCtrl.editUserClick()" ng-disabled="!usrCtrl.isAnyUserSelected()" tooltip-placement="bottom" uib-tooltip="{{'EDIT' | translate}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button class="btn-danger" ng-disabled="!usrCtrl.isAnyUserSelected()" tooltip-placement="bottom" uib-tooltip="{{'REMOVE' | translate}}"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
          </div>

          <table ng-table="usrCtrl.usersTableParams" class="table table-striped semUsersTable">
            <tr ng-repeat="user in $data" ng-switch="user.settings.isEdited" ng-click="usrCtrl.userClick(user)" ng-class="{true: 'table-selected'}[user.settings.isSelected]">
              <td header="'user_login_header.html'" sortable="'userName'">
                <div>{{user.userName}}</div>
              </td>
              <td header="'user_roles_header.html'" sortable="'settings.roleName.toUpperCase()'">
                <div>{{user.settings.roleName.toUpperCase() | translate}}</div>
              </td>
              <td header="'user_devices_number_header.html'" sortable="'devices.length'">
                <div>{{user.devices.length}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-4" ng-show="usrCtrl.isAnyUserSelected()">
      <div class="row margin-left">
        <div class="col-sm-12 card margin-top padding-top padding-bottom" style="margin-left: -15px; width: calc(100% + 15px);">
          <p><strong>{{'DEVICES' | translate}}</strong></p>
          <hr>

          <script type="text/ng-template" id="user_device_name_header.html">
            <span>{{'NAME' | translate}}</span>
          </script>

          <script type="text/ng-template" id="user_device_imei_header.html">
            <span>{{'IMEI' | translate}}</span>
          </script>

          <script type="text/ng-template" id="user_device_description_header.html">
            <span>{{'DESCRIPTION' | translate}}</span>
          </script>

          <table ng-table="usrCtrl.userDevicesTableParams" class="table table-striped semUserDevicesTable">
            <tr ng-repeat="device in $data" ng-click="usrCtrl.userDeviceClick(device)" ng-class="{true: 'table-selected'}[device.settings.isSelected]">
              <td header="'user_device_name_header.html'" sortable="'name'">
                <div>{{device.name}}</div>
              </td>
              <td header="'user_device_imei_header.html'" sortable="'imei'">
                <div>{{device.imei}}</div>
              </td>
              <td header="'user_device_description_header.html'" sortable="'description'">
                <div>{{device.description}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>