<div class="container-fluid semLocations">
  <div class="row">
    <div class="col-md-3 semLocationsFilter">
      <div class="row margin-right">
        <div class="col-sm-12 card margin-top padding-top padding-bottom">
          <p><strong>{{'FILTER' | translate}}</strong></p>
          <hr>
          <div class="col-sm-12 card-primary">
            {{'DEVICE' | translate}}
          </div>
          <div class="row">
            <div class="col-sm-12 semLocationsSelectDevice">
              <select-device selected-device="locCtrl.filter.selectedDevice"></select-device>
            </div>
          </div>
          <div class="col-sm-12 card-primary">
            {{'DATE' | translate}}
          </div>
          <div class="row">
            <div class="col-sm-12">
              <date-picker date="locCtrl.filter.date">
                </datetime-picker>
            </div>
          </div>
          <div class="col-sm-12 card-primary">
            {{'ADDICTIONAL_OPTIONS' | translate}}
          </div>
          <div class="row">
            <div class="col-sm-12 margin-top margin-left margin-bottom-negative">
              <md-checkbox ng-model="locCtrl.filter.isShowRoadPath" aria-label="showRoadPath">
                {{'SHOW_ROAD_PATH' | translate}}
              </md-checkbox>
            </div>
            <div class="col-sm-12 margin-top margin-left">
              <md-checkbox ng-model="locCtrl.filter.isShowRoadLocations" aria-label="showRoadLocations">
                {{'SHOW_ORIGINA_GPS_POINTS' | translate}}
              </md-checkbox>
            </div>
          </div>
          <div class="row semLocationsFilterButton">
            <div class="col-sm-12">
              <button class="btn-primary text-uppercase" ng-click="locCtrl.searchClick()">{{'SEARCH' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row margin-right">
        <div class="col-sm-12 card margin-top padding-top" style="margin-left: -15px; width: calc(100% + 30px);">
          <p><strong>{{'MAP' | translate}}</strong></p>
          <hr>
          <div class="row semLocationsMapBody">
            <div id="locationsMap" class="map"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 semLocationsRoadTable">
      <div class="row">
        <div class="col-sm-12 card margin-top padding-top padding-bottom">
          <p><strong>{{'LOCATIONS_HISTORY' | translate}}</strong></p>
          <hr>
          <script type="text/ng-template" id="device_name_header.html">
            <span>{{'DATE_TIME_RANGE' | translate}}</span>
          </script>
          <table ng-table="locCtrl.roadTableParams" class="table table-striped semLocationsRoadTable">
            <tr ng-repeat="roadPath in $data" ng-click="locCtrl.roadPathClick(roadPath)" ng-class="{true: 'table-selected'}[roadPath.settings.isSelected]">
              <td header="'device_name_header.html'" sortable="'datetime'">
                <div class="row">
                  <div class="col-md-3 font-bold">{{'FROM' | translate}}: </div>
                  <div class="col-md-9">{{roadPath.settings.dateFromString}} </div>
                </div>
                <div class="row">
                  <div class="col-md-3 font-bold">{{'TO' | translate}}: </div>
                  <div class="col-md-9">{{roadPath.settings.dateToString}} </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>