.semLocations p {
  font-size: @base-font-size;
}

.semLocations .card-primary {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: @base-font-size;
}

.semLocationsSelectDevice {
  margin-top: 20px;
  margin-bottom: 20px;
}

.semLocationsFilterButton button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: @base-font-size-h3;
  width: 100%;
}

.semLocationsMapBody {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
  height: 75vh;
}

.semLocationsInfo {

}