.semOffline {
  background: @offline-bg-first; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, @offline-bg-first, @offline-bg-second); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, @offline-bg-first, @offline-bg-second); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, @offline-bg-first, @offline-bg-second); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, @offline-bg-first, @offline-bg-second); /* Standard syntax */
  font-size: @base-font-size-large;
  color: @base-font-color-invert;
}

.semOffline input,
.semOffline textarea {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.semOffline textarea:focus, 
.semOffline input:focus {
    background-color: @base-bg-4;
}

.semOffline div.col-sm-2 > i {
  font-size: 40px;
}

.semOffline button {
  width: 100%;
  height: 45px;
}

.semOfflineHeader {
  height: 30px;
  margin-bottom: -30px;
}

.semOfflineFooter {
  padding-top: 5px;
  height: 40px;
  margin-top: -40px;
  background-color: @base-bg-4;
  opacity: 0.5;
}

.semOfflineFooter a {
  color: @brand-success;
  font-weight: bold;
}

.semOfflineHeaderLang {
   width: 90px; 
   margin: 8px;
}