<div class="container-fluid fill semOffline">
  <div class="row pull-right semOfflineHeader">
    <div class="semOfflineHeaderLang">
      <language></language>
    </div>
  </div>
  <div ui-view="offlineView"></div>
  <div class="row text-center semOfflineFooter">
    <span><i class="fa fa-copyright" aria-hidden="true"></i> GeoSpy dkrol 2017 | <a href="/assets/apk/GeoSpyMobile.apk" download>GeoSpyMobile</a></span>
  </div>
</div>