<div class="container-fluid semLanguage">
  <div class="row">
    <a ng-click="langCtrl.changeLang('pl')">
      <img class="img-responsive col-xs-6 img-rounded" src="assets/images/plFlag.png" alt="pl-flag" />
    </a>
    <a ng-click="langCtrl.changeLang('en')">
      <img class="img-responsive col-xs-6 img-rounded" src="assets/images/enFlag.png" alt="en-flag" />
    </a>
  </div>
</div>