.semSigninBody {
  width: 400px;
  margin-left: -4%;
}

.semSigninHeader {
  font-size: 55px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: @base-bg-2;
  box-shadow: @base-box-shadow;
  text-shadow: @base-text-shadow;
}

.semSigninBody .form-group {
  height: 45px;
}

.semSigninBody .semSigninSignupButton {
  margin-top: -10px;
}

@media screen and (max-width: 450px) {
  .semSigninBody {
    width: 280px;
    margin-left: -4%;
  }

  .semSigninHeader {
    font-size: 40px;
  }
}
