<div class="vertical-center semSignin">
  <div class="text-center semSigninBody">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10 semSigninHeader">
        <span>{{'GEOSPY' | translate}}</span>
      </div>
    </div>
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-2 col-sm-2">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10 col-sm-10">
            <input type="text" placeholder="{{'LOGIN' | translate | uppercase}}" ng-model="signinCtrl.userData.userName">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2 col-sm-2">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10 col-sm-10">
            <input type="password" placeholder="{{'PASSWORD' | translate | uppercase}}" ng-model="signinCtrl.userData.password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn-success text-uppercase" ng-click="signinCtrl.signinClick()">{{'SIGNIN' | translate}}</button>
          </div>
        </div>
        <div class="form-group semSigninSignupButton">
          <div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10">
            <a ui-sref="signup">
              <button type="submit" class="btn-primary text-uppercase">{{'SIGNUP' | translate}}</button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>