.semDashboard .row {
  padding: 10px;
}

.semDashboard .base-row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.semDashboardMenu {
  background: @brand-primary;
  color: @base-font-color-invert;
  padding-bottom: 15px;
}

.semDashboardMenu:hover {
  background: @brand-primary-dark;
}

.semDashboardMenu i {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 75px;
}

.semDashboardMenu span {
  font-size: @base-font-size-h4;
}

.semDashboardInfo {
  font-size: @base-font-size;
}

.semDashboardInfo span {
  font-size: @base-font-size-large;
}