<div class="container-fluid semDashboard"> 
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12 card">
          <div class="row">
            <div class="col-md-3" ng-repeat="item in dashCtrl.items" permission permission-only="item.role">
              <div class="row">
                <a ui-sref="{{item.uisref}}">
                  <div class="col-md-12 card text-center semDashboardMenu">
                    <div>
                      <i class="{{item.iconClass}}" aria-hidden="true"></i>
                    </div>
                    <div>
                      <span>{{item.header | translate}}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 card padding-top semDashboardInfo">
          <span>{{'INFORMATION' | translate}}</span>
          <hr>
          <div class="row">
            <div class="form-group row base-row">
              <label class="col-lg-5 col-form-label">{{'LOGIN' | translate}}</label>
              <div class="col-lg-7">
                {{dashCtrl.userProfile.userName}}
              </div>
            </div>
            <div class="form-group row base-row">
              <label class="col-lg-5 col-form-label">{{'ROLES' | translate}}</label>
              <div class="col-lg-7">
                {{dashCtrl.role.toUpperCase() | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>