<div class="container-fluid fill semOnline">
  <div id="onlineSidenav" class="semOnlineMenu">
    <div class="row semOnlineMenuHeader">
      <span>{{'GEOSPY' | translate}}</span>
    </div>
    <div class="semOnlineMenuBody">
      <a ng-repeat="item in onlineCtrl.menuItems" ui-sref="{{item.uisref}}" ng-click="onlineCtrl.menuItemClick($index)"
        ng-class="item.isSelected ? 'semOnlineMenuItemSelected' : ''" permission permission-only="item.role">
        <i class="{{item.iconClass}}" aria-hidden="true"></i>
        <span>{{item.header | translate}}</span>
      </a>
    </div>
  </div>
  <div id="onlineBody">
    <div class="row semOnlineHeader card">
      <div class="col-sm-12">
        <span ng-click="onlineCtrl.menuAction()" uib-tooltip="{{'MENU' | translate}}" tooltip-placement="bottom"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <span>{{$root.title | translate}}</span>
        <i ng-click="onlineCtrl.logoutClick()" class="fa fa-sign-out pull-right" aria-hidden="true"></i>
        <div class="pull-right">
          <div class="semOnlineHeaderLang">
            <language></language>
          </div>
        </div>
      </div>
    </div>
    <div ui-view="onlineView"></div>
  </div>
</div>