.semOnline {
  background: @base-bg-invert-1;
}

.semOnlineMenu hr {
  border-top: 1px solid @base-bg-4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.semOnlineMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.4s;
  background-color: @base-bg-3;
}

.semOnline .semOnlineMenuBody a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: @base-font-size-large;
  color: @base-font-color-invert;
  display: block;
  transition: 0.5s
}

.semOnline .semOnlineMenuBody a i {
  width: 36px;
}

.semOnline .semOnlineMenu a:hover, 
.semOnline .offcanvas a:focus {
  background: @brand-primary;
}

.semOnlineMenu .semOnlineMenuHeader {
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: @base-font-size-h3;
  color: @base-font-color-invert;
  background: @base-bg-2;
}

.semOnlineMenu .semOnlineMenuBody {
  padding-top: 25px;
}

.semOnline #onlineBody {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .semOnline .semOnlineMenu a {
    font-size: @base-font-size;
  }
}

// END SIDENAV

.semOnlineHeader {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  box-shadow: @base-box-shadow;
  font-size: @base-font-size-h2;
  color: @base-font-color-invert;
  background: @base-bg-2;
  border-left: 1px solid @base-bg-3;
}

.semOnlineHeader i {
  font-size: @base-font-size-h1;
}

.semOnlineHeaderLang {
   width: 110px;
}

.semOnlineMenuItemSelected {
   background: @brand-primary;
}