<div class="row">
  <div class="col-sm-12">
    <div class="pull-left semSelectDeviceIcon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="pull-left semSelectDeviceDropdown">
      <select ng-options="device as device.display for device in devices track by device.id" ng-model="selectedDevice" aria-placeholder="selectedDevice">
        <option value="" disabled selected>{{'SELECT_DEVICE' | translate}}</option>
      </select>
    </div>
  </div>
</div>