.semSelectDevice {
  height: 50px;
}

.semSelectDeviceIcon {
  width: 20%; 
}

.semSelectDeviceIcon span {
  font-size: 25px;
}

.semSelectDeviceDropdown {
  width: 80%; 
  padding-top: 12px; 
  padding-bottom: 6px
}