.semTracking .card-primary {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: @base-font-size;
}

.semTracking p {
  font-size: @base-font-size;
}

.semTrackingMapBody {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
  height: 75vh;
}

.semTrackingSelectDevice {
  margin-top: 20px;
  margin-bottom: 20px;
}
