<div class="container-fluid semTracking">
  <div class="row">
    <div class="col-md-3">
      <div class="row margin-right">
        <div class="col-sm-12 card margin-top padding-top padding-bottom">
          <p><strong>{{'FILTER' | translate}}</strong></p>
          <hr>
          <div class="col-sm-12 card-primary">
            {{'DEVICE' | translate}}
          </div>
          <div class="row">
            <div class="col-sm-12 semTrackingSelectDevice">
              <select-device selected-device="trackingCtrl.filter.selectedDevice"></select-device>
            </div>
          </div>
          <div class="col-sm-12 card-primary">
            {{'ADDICTIONAL_OPTIONS' | translate}}
          </div>
          <div class="row">
            <div class="col-sm-12 margin-top margin-left">
              <md-checkbox ng-model="trackingCtrl.filter.isShowTrackingRoad" aria-label="showTrackingRoad">
                {{'SHOW_TRACKING_ROAD' | translate}}
              </md-checkbox>
            </div>
          </div>
          <div class="row semLocationsFilterButton">
            <div class="col-sm-12">
              <button ng-show="!trackingCtrl.isTracking" class="btn-success text-uppercase" ng-click="trackingCtrl.startTracking()">{{'START' | translate}}</button>
              <button ng-show="trackingCtrl.isTracking" class="btn-danger text-uppercase" ng-click="trackingCtrl.stopTracking()">{{'STOP' | translate}}</button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 card margin-top padding-top padding-bottom" ng-show="trackingCtrl.isTracking">

          <script type="text/ng-template" id="tracking_latlng_header.html">
            <span>{{'LATITUDE' | translate}} / {{'LONGITUDE' | translate}}</span>
          </script>

          <script type="text/ng-template" id="tracking_speed_header.html">
            <span>{{'SPEED' | translate}}</span>
          </script>

          <script type="text/ng-template" id="tracking_date_header.html">
            <span>{{'DATE' | translate}}</span>
          </script>

          <table ng-table="trackingCtrl.trackingTableParams" class="table table-striped semTrackingTable">
            <tr ng-repeat="track in $data" ng-click="trackingCtrl.trackingClick(device)">
              <td header="'tracking_latlng_header.html'" sortable="'latitude'">
                <div class="col-sm-12">{{track.latitude}}</div>
                <div class="col-sm-12">{{track.longitude}}</div>
              </td>
              <td header="'tracking_speed_header.html'" sortable="'speed'">
                <div>{{track.speed}}</div>
              </td>
              <td header="'tracking_date_header.html'" sortable="'settings.timestamp'">
                <div>{{track.settings.timestamp}}</div>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row margin-right">
        <div class="col-sm-12 card margin-top padding-top" style="margin-left: -15px; width: calc(100% + 45px);">
          <p><strong>{{'MAP' | translate}}</strong></p>
          <hr>
          <div class="row semTrackingMapBody">
            <div id="trackingMap" class="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>