<div class="container-fluid semDevices">
  <div class="row card margin-top padding-top padding-bottom">
    <div class="col-sm-12">
      <script type="text/ng-template" id="device_name_header.html">
        <span>{{'NAME' | translate}}</span>
      </script>

      <script type="text/ng-template" id="device_imei_header.html">
        <span>{{'IMEI' | translate}}</span>
      </script>

      <script type="text/ng-template" id="device_description_header.html">
        <span>{{'DESCRIPTION' | translate}}</span>
      </script>

      <script type="text/ng-template" id="device_action_header.html">
        <span>{{'ACTION' | translate}}</span>
      </script>

      <div class="row semDevicesTableButtons">
        <div class="col-sm-12">
          <button class="btn-primary" ng-click="devCtrl.editDeviceClick()" ng-disabled="!devCtrl.isAnyDeviceSelected()" tooltip-placement="bottom"
            uib-tooltip="{{'EDIT' | translate}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn-danger" ng-click="devCtrl.removeDeviceClick()" ng-disabled="!devCtrl.isAnyDeviceSelected()" tooltip-placement="bottom" uib-tooltip="{{'REMOVE' | translate}}"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
      </div>

      <table ng-table="devCtrl.devicesTableParams" class="table table-striped semDevicesTable">
        <tr ng-repeat="device in $data" ng-switch="device.settings.isEdited" ng-click="devCtrl.deviceClick(device)" ng-class="{true: 'table-selected'}[device.settings.isSelected]">
          <td header="'device_name_header.html'" sortable="'name'">
            <div>{{device.name}}</div>
          </td>
          <td header="'device_imei_header.html'" sortable="'imei'">
            <div>{{device.imei}}</div>
          </td>
          <td header="'device_description_header.html'" sortable="'description'">
            <div ng-switch-when="false">{{device.description}}</div>
            <div ng-switch-when="true">
              <input type="text" ng-model="device.settings.description">
            </div>
          </td>
          <td header="'device_action_header.html'">
            <div ng-switch-when="false">
              <i ng-click="device.settings.isEdited = true" class="fa fa-pencil base-color-primary" aria-hidden="true" tooltip-placement="bottom"
                uib-tooltip="{{'EDIT' | translate}}"></i>
            </div>
            <div ng-switch-when="true">
              <i ng-click="devCtrl.editedSave(device)" class="fa fa-check base-color-success" aria-hidden="true" tooltip-placement="bottom"
                uib-tooltip="{{'SAVE' | translate}}"></i>
              <i ng-click="devCtrl.editedCancel(device)" class="fa fa-times base-color-danger" aria-hidden="true" tooltip-placement="bottom"
                uib-tooltip="{{'CANCEL' | translate}}"></i>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>